input{
  border: solid 1px black;
}

span, .container>*, .linea>*, .cabecera>* {
  width: 100%;
  margin: 5px;
}

#lpcontainer, .lpcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container, #lpcontainer div, .linea, .cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.btn {
  width: auto;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-create {
  color: #000;
  background-color:grey;
  border-color: grey;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.btn-demand {
  color: #fff;
  background-color: rgb(69, 22, 177);
  border-color: rgb(69, 22, 177);
}

.btn-addprod {
  color: #fff;
  background-color: rgb(53, 52, 3);
  border-color: rgb(53, 52, 3);
}

.btn-inactivo {
  display: none;
}

