input {
    border: solid 1px black;
    width:25%;
    &#item-name-create{width:75%}
  }
  
  .container {
      width: 80%;
      margin:auto;
  
  }
  
   
  .row,.row-create {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  &-create{
      justify-content: center;
  }
  }

  .col{
      padding: 5px;
      width: 15%;
      text-align: right;
      &-create{
        width: 25%;
      }
  }

  .total-item{
      text-align: right;
  }
  
  
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .btn-success {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
  }
  
  .btn-delete {
      color: #fff;
      background-color: #CF000F;
      border-color: #CF000F;
  }
  
  .quantity {
    margin: 0 5px;
  }
  
